*, ::after, ::before{box-sizing: border-box; margin:0px; padding:0px;}
.defaultFlex{width:100%; display: flex;}
.abreSliderStage{overflow: hidden; position: relative; max-width:100%; display: block;}
.arrow{position: fixed; z-index: 999; top:25%; cursor: pointer;}
.left{left: 50px;}
.right{right: 50px;}
.isAbreSlide{float:left; position: relative;}
.isAbreSlide span{position: absolute; top:25%; left:50%; background: #FFF; color:#000; padding:15px;}
.isAbreSlide{max-width:100%;}
.isAbreSlide img{max-width:100%;}
.pagination{top:10%; position: absolute; color:#FFF; font-weight: bold; font-size: 2rem; left:50%; background: #000;}
.goToSlide{cursor: pointer; margin: 10px;}