*, ::after, ::before{box-sizing: border-box; margin:0px; padding:0px;}
body{color: #232329; font-size: 16px; padding: 0px; margin: 0px; font-family: 'Roboto', serif;}
h1, h2{font-family: 'Open Sans', serif; color: #232329; line-height: 1.25em;}

h1{font-size:2em; font-weight: 600; margin-bottom: 1em;}
h2{font-size: 1.5em; font-weight: 300;}
p{line-height: 1.5em;}

.back-c1, .back-c1:before, .back-c1:after{background: #ff3a1f;}
.back-c2, .back-c2:before, .back-c2:after{background: #ff675f;}
.back-c3, .back-c3:before, .back-c3:after{background: #b2b3b4;}
.back-c4, .back-c4:before, .back-c4:after{background: #acadcc;}
.back-c5, .back-c5:before, .back-c5:after{background: #873299;}

.container{width: 100%; padding-right: 10px; padding-left: 10px; margin-right: auto; margin-left: auto;}
.row{display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; margin-right: -10px; margin-left: -10px;}
.col{position: relative; width: 100%; min-height: 1px; padding-right: 10px; padding-left: 10px;}
.col-xs{width:100%; -webkit-box-flex: 0; -ms-flex: 0 0 100%; flex: 0 0 100%; max-width: 100%;}

header{background-image:url('../images/clouds-back.jpg'); background-position: top; background-size: 100%; background-repeat: no-repeat; margin-bottom: 4em;}
header .col{background: #d0d0d0; padding: 3em 0px 1.75em 0px; text-align: center; margin-top: 4em;}

section.texts{text-align: center; padding-bottom: 4em;}
p.text span{color:#ff3a1f; font-weight: 700;}
p.text strong{font-weight: 700;}

.texts .row div:nth-child(even){margin-bottom:2.25em;}
.texts .row div:nth-child(odd) .number{margin: 10px 0px 23px 0px;}
.texts .row div:nth-child(even) .number{margin: 23px 0px 10px 0px;}

.diamond{ width: 100%; height: 22px; -webkit-transform: skew(-33deg); -moz-transform: skew(-33deg); -o-transform: skew(-33deg); display:block; margin: 10px 0px;}
.number{font-size:2.5em; font-weight: 700; margin: 10px 0px; float: left; width: 100%;}
.dot-line{width:2px; height: 48px; display: inline-block; position: relative;}
.dot-line:after{content:''; width:8px; height: 8px; display: block; border-radius: 50%; position: absolute; left:-3px; bottom:-13px;}
.number ~ .dot-line:before{content:''; width:8px; height: 8px; display: block; border-radius: 50%; position: absolute; left:-3px; top:-13px;}
.number ~ .dot-line:after{display: none; content:unset;}

@media (min-width: 576px){
    .container{max-width:548px;}
    .col-s{width: 50%; -webkit-box-flex: 0; -ms-flex: 0 0 50%; flex: 0 0 50%; max-width: 50%;}
}
@media (min-width: 768px){
    .container{max-width:740px;}
    .col-m{width: 50%; -webkit-box-flex: 0; -ms-flex: 0 0 50%; flex: 0 0 50%; max-width: 50%;}
}
@media (min-width: 992px){
    .container{max-width:964px;}
    .col-l{width: 33.3%; -webkit-box-flex: 0; -ms-flex: 0 0 33.3%; flex: 0 0 33.3%; max-width: 33.3%;}
    header .col{margin-top: 9.5em;}
    .texts .row div:nth-child(even){margin-bottom:0px;}
    .texts .row .col-l{margin-bottom: 1.5em;}
    .texts .row .col-l:nth-child(4){margin-left: 16.66%;}
}
@media (min-width: 1200px){
    .container{max-width:1172px;}
    .col-xl{width: 20%; -webkit-box-flex: 0; -ms-flex: 0 0 20%; flex: 0 0 20%; max-width: 20%;}
    .texts .row .col-l:nth-child(4){margin-left: 0px;}
}